/* The global styles */
*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-weight: 300;

}
body{
  background:rgb(246, 247, 241);
  font-family:Roboto;
  color:black;
}

/* navbar css style start */

.navbar{
  float:right
}

header {
  display: flex;
  padding: 8px;
  justify-content:space-between;
  align-items: center;

}
.logo{
font-size:24px;
  padding:10px 15px;
  border-radius: 10px;
 background:linear-gradient(45deg, rgba(255, 255, 0, 0.219),rgba(255, 166, 0, 0.563));

}
.logo span{
margin-left:5px;
font-size:32px;
font-family:Montserrat;
color:rgb(255, 72, 0);

}
.links{
  display:flex;
}
.links li{
list-style-type: none;
}
.links a {
 padding:10px 20px;
 text-decoration: none;
 transition:0.3s ease all;
}
.links a:hover{
background:white;
border-radius: 20px;
box-shadow:0 3px 5px rgba(0, 0, 0, 0.096);
}
.links a:active{
  transform:scale(0.9);
}


/* navbar css style  ends*/

.Welcome
{
   padding:10px;
   text-align: center;
   margin:25px 0;
}
.content{
  display: flex;
  justify-content: center;

}
.select,.vision
{
   width:500px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   background:white;
   margin:0 25px;
   padding:20px 30px;
   border-radius: 5px;
   box-shadow:0 4px 5px rgba(197, 24, 24, 0.068);
   border-top:5px solid rgb(103, 103, 255);
    
}
 .select ul
{
    list-style: none;
    padding: 10px;
    
}
.select li{
 margin:10px 0;
 display:flex;
}
.select a{
  border:1px solid rgb(146, 146, 255);
 padding:10px 25px;
 border-radius: 30px;
  width:100%;
  text-align: center;
  text-decoration: none;
  transition:0.25s ease all;
}
.select a:hover{
background:rgb(146, 146, 255);
color:white;
}
.select a:hover{
  background:rgb(146, 146, 255);
  color:white;
}


.vision h2
{
  text-align: center;
  margin-bottom:15px;
  
}
.dev{
margin-top:90px;
padding:20px;
display:flex;
flex-direction:column;
align-items: center;
color: black;
}
#head
{
 margin-top: 50px;
 text-align: center;
 
}

h2{
  text-align: center;
}
.people{

padding:30px;
margin-top:20px;
display:flex;
flex-wrap: wrap;
justify-content: center;
}
.people a{
  background:white;text-decoration: none;
  display:flex;
align-items: center;
justify-content: center;
 width:200px;
 height:200px;
 border-radius: 50%;;
  margin:10px;
  font-size:20px;
  box-shadow:0 4px 5px rgba(0, 0, 0, 0.089);
  transition:0.3s ease all;
}
.people a:hover{
  transform:scale(1.1);
  background:linear-gradient(45deg, rgba(255, 255, 0, 0.219),rgba(255, 166, 0, 0.563))
}

footer{
  text-align: center;
  
  width:100%;
  padding:20px 0;
}
footer a{
  margin-left:30px;
  text-decoration: none;
  padding:10px 20px;
  background:linear-gradient(45deg, rgba(255, 255, 0, 0.219),rgba(255, 166, 0, 0.563));
  border-radius:2px;
}


@media only screen and (max-width:768px){
  .people{

    padding:20px;
    margin-top:15px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    .people a{
      background:white;text-decoration: none;
      display:flex;
    align-items: center;
    justify-content: center;
     width:150px;
     height:150px;
    
      font-size:16px;
     
    }

  .content{
  flex-direction:column;
  align-items: center;

}
.select,.vision{
  margin:10px 0;
}
.links{
  display:none;
}
    
}