/* navbar css style start */

header {
  display: flex;
  padding: 5px;
  align-items: center;
  background: rgb(202, 231, 165);
  height: 30px;
}
.nav_name {
  font-family: sans-serif;
  font-weight: 600;
  font-size: medium;
}
.nav_name a {
  text-decoration: none;
  color: rgb(22, 1, 1);
}
.nav_name li {
  display: inline-block;
  padding: 0px 10px;
}
.nav_name li a:hover {
  color: black;
  background: white;
}
.logo {
  height: 20px;
}
.logo:hover {
  
}

/* navbar css style  ends*/


body
{
  background-color: rgb(241, 225, 241);
}

.Welcome
{
    width: 100vw;
    height: 120px;
    text-align: center;
}

.select
{
    width: 100vw;
    height: 30vh;
    border-style: double;
    padding: 30px;
    padding-top: 0%;
    
    margin-right: 100px;
    text-align: center;
    
}
 .select ul
{
    list-style: none;
    
    padding: 10px;
    
}



   .select button
{
    border-style: solid;
    border-radius: 20px;
    background-color: aquamarine;
    font-weight: bold;
    padding: 10px;
    margin: 5px;
    color:black;
    
}

.select button:hover
{
    border-style: solid;
    border-radius: 20px;
    background-color: rgb(255, 127, 191);
    font-weight: bold;
    padding: 10px;
    margin: 5px;
    color:white;
}

.vision
{
    width: 100vw;
    height: 39vh;
    border-style: double;
    margin: 5px;
}

.vision h2
{
  text-align: center;
}

.dev
{
    float:left;
}



