/* The global styles */
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-weight: 300;
    color: black;
  
  }
  body{
    background-color:rgb(248, 248, 255);
    /* background-image:url('./chose.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; */

    /* Removed Image for sake of better visibility */
   
    font-family:Roboto;
    color:rgba(0, 0, 0, 0.918);
  }

.container{
    width:1200px;
    max-width:98%;
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;margin:0 auto;
}
h1{
    padding:30px ;font-size: 48px;;
    position:absolute;
    top:50px;
}
.clist{
   
    padding:20px 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
   flex-wrap:wrap;
   
}
.clist a{
    padding:40px 50px;
    font-size: 20px;
    text-decoration: none;
    background:white;
    box-shadow:0 4px 5px rgba(0, 0, 0, 0.068);
    border-top:5px solid rgb(103, 103, 255);
    margin:10px 15px;
text-align: center;
border-radius: 5px;
min-width:230px;transition:0.2s ease all;
}
.clist a:hover{
    transform:scale(1.1);
    background:rgb(241, 241, 253);
}