/* navbar css style start */
header {
	grid-area: header;
	background-color: powderblue;
	position:fixed;
	height: 120px;
	width: 100%;

}

.logo {
	font-size: var(--desktop-verylarge);
	padding: 10px 15px;
	border-radius: 10px;
}
.logo-img{
	border-radius: 100%;
	height: 100px;
	width: 100px;
}
.logo span {
	margin-left: 5px;
	font-size: 32px;
	font-family: Montserrat;
	color: var(--blue);
}
.links {
	display: flex;
}
.links li {
	list-style-type: none;
	transition: 0.3s ease all;
}
.links a {
	padding: 10px 20px;
	text-decoration: none;
	transition: 0.3s ease all;
	color:var(--blue);
}
.links a:hover {
	background: white;
	border-radius: 20px;
	box-shadow: var(--shadow);
}
.links a:active {
	transform: scale(0.9);
}
header button{
	background:var(--blue);
	color:white;
	border-radius:5px;
	border:none;
	outline:none;
	position:fixed;
	top:5px;
	right:5px;
	padding:10px 15px;
	font-weight:200;
}
/* navbar css style  ends*/

.Welcome {
	padding: 10px;
	text-align: center;
	margin-bottom: 25px;
	font-size: var(--desktop-large);
}
.content {
	display: flex;
	justify-content: center;
}
.select,
.vision {
	width: 400px;
	min-height: 250px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background: white;
	margin: 0 20px;
	padding: 20px 30px;
	border-radius: 5px;
	box-shadow: var(--shadow);
	border-top: 5px solid var(--blue);
	text-align: center;
}
.select ul {
	list-style: none;
	padding: 10px;
}
.select li {
	margin: 10px 0;
	display: flex;
}
.select a {
	border: 1px solid var(--blue);
	padding: 10px 25px;
	border-radius: 30px;
	width: 100%;
	text-align: center;
	text-decoration: none;
	transition: var(--desktop-time);
	color: var(--blue);
}
.select a:hover {
	background: var(--blue);
	color: white;
}
.vision h2 {
	text-align: center;
	margin-bottom: 15px;
}
.dev {
	padding-top: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--blue);
}
h2 {
	text-align: center;
}
.people {
	padding: 30px;
	flex-wrap: wrap;
}

.card {
	width: 250px;
}
header button{
	display:none;
	z-index:100;
}

@media only screen and (max-width: 768px) {
	.btn {
		font-size: var(--mobile-small);
	}
	.content {
		flex-direction: column;
		align-items: center;
	}
	.select,
	.vision {
		margin: 10px 0;
	}
	/* navbar styles for mobile */
	#navbar {
		position: fixed;
		top: 0;
		background: rgb(255, 255, 255);
		width: 100%;
		padding: 30px;
		left:0;
		box-shadow: var(--shadow);
		transform-origin:top right;
		transform:scale(0);
		transition: 0.3s ease all;
		z-index:100;
	}
	.links {
		flex-direction:column;
		align-items: center;
		position:relative;

	}
	.links li {

	    padding:7px 0;
	}
	.links a{
		padding:0;

	}
	.links a:hover {
		border-radius: 0px;
		box-shadow: 0 0 0 rgb(41, 39, 39);


	}
	.links li:hover{
		transform:scale(1.5);

	}
	.links a:active {
		transform: scale(0.9);
	}
	header button{
		display:block;
	}
	header button:active{
		transform: scale(0.9);
	}





	.logo {
		font-size: var(--mobile-verylarge);
		padding: 0;
	}
	.Welcome {
		font-size: var(--mobile-large);
	}
	h2 {
		font-size: var(--mobile-verylarge);
	}
	.btn {
		transition: var(--mobile-time);
	}
	.card {
		width: 350px;
	}
}
