.container {
	text-align: center;
	padding: 8px;
}
.card{
	width:400px;
}
h1 {
	padding: 10px;
}
.clist {
	display: flex;
	flex-wrap: wrap;
}

.img {
	height: 300px;
}
.eng img {
	transform: translateY(-150px) scale(1);
}
.card:hover .eng img {
	transform: translateY(-150px) scale(1.1);
}
.med img,
.law img,
.commerce img,
.sports img {
	transform: scale(1.4);
}
.card:hover .med img,
.card:hover .law img,
.card:hover .commerce img,
.card:hover .sports img {
	transform: scale(1.6);
}
.humanities img,
.music img {
	transform: scale(1.2);
}
.card:hover .humanities img,
.card:hover .music img {
	transform: scale(1.4);
}
.btn {
	border-style:solid;
	border-color:rgb(212, 205, 205);
}

.topclg, .story
{
	border-style: groove;
	margin: 10px;
	background-color: white;
	border-radius: 8px;
}

.topclg:hover, .story:hover
{
	border-style: groove;
	margin: 10px;
	background-color: rgba(145, 121, 146, 0.788);
	border-radius: 8px;
	color: black;
}
a{
	text-decoration: inherit;
	color: inherit;
}

#heading
{
	border-style: groove;
	border-bottom: 3px;
	border-left: 3px;
	border-right: 3px;
	background-color: white;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 8px;
}