.clg
{
    border: 2px;
    border-style: double;
    border-radius: 15px;
    margin: 10px;
    padding: 15px;
    border-color: rgb(78, 76, 76);
    height: 35vh;
}

.clg h1{
    text-align: center;
}

.desc img
{
    float: left;
    margin-right: 20px;
}

.clg:hover
{
    border: 2px;
    border-style:groove;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    border-color: rgb(178, 250, 157);
    height: 35vh;
    background-color: rgb(189, 235, 163);
}
a {
    color: inherit;
    text-decoration: inherit;
  }
  .container
  {
      margin: 13px;
  }

